@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

@media all and (min-width: 450px) {
    body {
        background-color: red;
    }
}

html {
  height: 100%;
}

body {
  background:
    radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
    linear-gradient(108deg, #26D0CE, #1A2980 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/*** Table Styles **/

.table-fill {
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 800px;
  padding:5px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  animation: float 5s infinite;
  margin-bottom: 60px;
}
 
th {
  color:#FFFFFF;;
  background:#396;
  border-bottom:2px solid #9ea7af;
  border-right: 1px solid #9ea7af;
  font-size: 1.2em;
  font-weight: 400;
  padding: 8px 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:0.25em;
}
 
th:last-child {
  border-top-right-radius:0.25em;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* Other */

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

h1 {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #fff;
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
}

.configuration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px 30px;
}

.pokemon-picker {
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.pokemon-picker span {
  padding: 0.5em 0.75em;
  background: #396;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.pokemon-picker-input {
  padding: 0.5em 0.25em;
  border: none;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  text-align: center;
}

.compare-button {
  background: #396;
  color: white;
  text-align: center;
  width: 150px;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  outline: none;
  transition: transform 0.05s ease-out;
}

.compare-button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.compare-button:active {
  transform: translate(1px, 1px);
  box-shadow: none;
}

.outcome-tables {
  margin: 40px;
}

.outcome-tie {
  color: #ccc;
}
